html, body{
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}


.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
}

#background{
    width: 100%;
    filter: opacity(0.3);
}

header{
    background-color: #f5e7d4;
    height: 80px;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #463a2a3b;
}

header a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'coolvetica', sans-serif;
    color: #463a2a;
}

header .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    height: 100%;
    
}


header .menu .logo{
    width: 178px;

}

main{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 32px;
   height: 80vh;
}  

.box-perfil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
     border: 3px solid #BACC21;
}

#perfil{
    height: 100%;
    bottom: 0;
}

.button{
    background-color: #e2ff979b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 14px 48px;
    border: 2px solid #97b46375;
}

.button svg path{
    fill: #a4cc21;
}

.flores{
    text-align: center;
    width: 400px;
    height: 400px;
    row-gap: 10px;
    border-radius: 14px;
}

.itens-navbar{
    display: flex;
    gap: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.plantas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
}

section, .plantas div{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #9F8257;
    border-top: 2px solid #463a2a3e;
    padding: 24px;
    margin-top: 48px;
}

footer svg path{
    fill: #ebf2ad;
}








    
 
 


   
