* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%; 
}

body{
    font-family: 'coolvetica', sans-serif;
    background-repeat: no-repeat;
    background-position: center; 
    font-size: 10px;

    background: linear-gradient(to bottom, var(--collor-light), var(--collor-four));
}

.wrapper{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.container{
    height: 100%;
    width: 100%;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.8rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--collor-four);
    max-width: 100%;
    height: 6.2rem;
    padding: 1rem 3.2rem;   
    border-radius: 5rem;
}
 
header img{
    width: 12rem;
}

header a {
    font-family: coolvetica;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;

    padding: 1.4rem 0.8rem;

    transition: transform 0.2s ease-in;

    color: var(--collor-thre);
}

header a:hover {
    transform: scale(1.1);
    font-weight: bold;

    color: #E4F09A;
    background-color: #9F8257;

    border-radius: 0.7rem;
}

header .nav {
    display: flex;
    gap: 3.2rem;
    height: 100%;
}

header .btn-mobile{
    display: none;
}

header .open-menu-icon, .close-menu-icon{
    width: 4rem;
}

header .open-menu-icon path, .close-menu-icon path{
    fill: var(--collor-thre);
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.8rem;
}

main p{
    font-family: coolvetica;
    font-size: 4.8rem;
    color: var(--collor-seven);
    text-align: center;
}

main img.cover-page{
    width: 30rem;
    text-align: left;
}

main a.button-page, section#canais .button-page{
    background-color: var(--collor-two);
    border-radius: 5rem;
    padding: 1.5rem 4.2rem;
}

main svg path, section#canais svg path{
    fill: var(--collor-thre);
}


/*formulario*/

section#formulario{
    display: flex;
    align-items: center;
    justify-content: center;

    width:100%;

    margin: 0 auto;
}

section form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 3.2rem;
    padding: 6.4rem;

    background-color: var(--collor-thre);
    border-radius: 1.5rem;
}

section div.extern-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3.2rem;
    width: 90%;
}
section .box-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    width: 100%;
}

section .box-form p{
    color: var(--collor-six);
    margin-bottom: 1.2rem;
    font-size: 3.2rem;
}



section .box-form .intern-form{
    font-size: 2.4rem;
    display: flex;
    align-items: left;
    flex-direction: column; 
    gap: .8rem;
}


section .intern-form label{
    color: var(--collor-two);
    font-size: 2.4rem;
}

section .intern-form input{
    height: 6.4rem;
    width: 100%;
    border-radius: .8rem;
    padding-left: 1.2rem;
    font-size: 1.8rem;
}

section .textarea{
    max-width: 100%;
    min-height: 6.4rem;
    border-radius: .8rem;
    padding: 1.2rem;
    font-size: 1.8rem;
    resize: vertical;
}

section .textarea::placeholder{
    color: rgba(158, 128, 87, .5);
}


section .intern-form input::placeholder{
    color: rgba(158, 128, 87, .5);
}

section#formulario .button-submit{
    background-color: var(--collor-four);
    width: 90%;
    height: 6.4rem;
    border-radius: .8rem;
    font-size: 2rem;
}

section#canais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.8rem;
    
}

section#canais p{
    font-size: 4.8rem;
    font-family: coolvetica;
}

section#canais .icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section#canais .icons svg{
    width: 8.4rem;
}
section#canais .icons svg path{
    fill: var(--collor-two);
}



section#canais .displays{
    /* margin-top: 350px; */
    position: sticky;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    background-color: var(--collor-six);
    width: 100%;
    height: 52.8rem;
    padding: 6.9rem;
    gap: 4.4rem;
}

section#canais .display-box{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

section#canais .displays iframe{
    width: 100%;
    height: 100%;

    border-radius: .8rem;
}

@media (max-width: 1000px)
{

    main{
        width: 100%;
        flex-direction: column;
        gap: 48px;
        padding: 0;
        text-align: center;
    }

    main p{
        font-size: 2.2rem;
        line-height: normal;
    }

    main div.content{
        width: 100%;
    }


    main .logo-grande{
        width: 80%;
        margin-bottom: 3rem;
    }

    section{
        padding: 0;
    }

    header .btn-mobile{
        display: flex;
    }

    header .nav{
        display: none;
    }

    /* header .active{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    } */

    header .active{
        display: flex;
        align-items: end;
        flex-direction: column;
        position: fixed;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 100;
        background-color: var(--collor-two);
        letter-spacing: 0.6rem;
        border-radius: .5rem;
        height: 100vh;
        padding: 4.8rem;
    }

    header .active .btn-mobile{
        margin-bottom: 10rem;
    }



    header .active svg path{
        fill: var(--collor-four);
    }

    header .active .nav, .active a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--collor-four);
    }

    header .active a:hover{
        cursor: pointer;
        color: #BACC21;
        transition: transform .5s;
    }

}






