
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%; 
}

.open-menu, .close-menu{
    display: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, rgba(78, 58, 52, 0.8),rgba(255, 255, 255, 0.3)), url("../images/background-home-page.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;

    font-size: 10px;
}

.wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.container{
    height: 100%;
    width: 100%;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 9.4rem;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--collor-four);
    max-width: 100%;
    height: 7.2rem;
    padding: 2rem 3.2rem;
    border-radius: 5rem;
}

header img{
    width: 17.8rem;
}

header a{
    color: var(--collor-thre);
    font-size: 2.4rem;
    font-family: coolvetica;
    font-weight: bolder;
    transition: transform 0.2s ease-in-out;
}

header a:hover{
    transform: scale(1.1);
    font-weight: bold;
}

header .links{
    display: flex;
    gap: 4.8rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12rem;
}

main div:nth-child(1){
    width: 60%;
}

main div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

main p{
    color: var(--collor-four);
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: coolvetica;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

main .logo-grande{
    width: 33.9rem;
    margin-bottom: 2.4rem;
}

main button{
    display: flex;
    height: 7.2rem;
    align-items: center;
    justify-content: space-around;
    gap: 2.8rem ;
    padding: 2rem 3.2rem ;
    border-radius: 5rem;
    background-color: var(--collor-four);
    transition: transform 0.2s ease-in-out;

}

main button:hover{
    cursor: pointer;
    background-color: #BACC21;
    transform: scale(1.1);
}

main button p{
    font-family: var(--font-tittle);
    font-size: 3.5rem;
    color: var(--collor-thre);
}

.arrow{
    width: 2.28rem;
}

section{
    padding: 0 12rem;
}

.box-planta{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0.6rem;
}

.carrosel-plantas{
    margin-top: 1rem;
    cursor: pointer;
}

@media (max-width: 1000px)
{


    main{
        flex-direction: column;
        gap: 48px;
        padding: 0;
    }

    main .logo-grande{
        width: 30rem;
        margin-bottom: 3rem;
    }

    section{
        padding: 0;
    }

    header a{
       color: #000000; 
       position: static;
    }

    header .pop-up-menu {
        background-color: #4E3A34;
        position: relative;
        display: flex;
        align-items: column;
        
        z-index: 10;
        right: 1.6rem;
        bottom: 1.6rem;
        width: 90vw;
        height: 130rem;
    }

}