* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%; 
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--collor-four);
    max-width: 100%;
    height: 6rem;
    padding: 0rem 3.2rem;   
    border-radius: 5rem;
}
 
header img{
    width: 12rem;
}

header a{
    color: var(--collor-thre);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: coolvetica;
    font-weight: bolder;
    transition: transform 0.2s ease-in-out;
}

header a:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: #486612;
}

header .nav{
    display: flex;
    gap: 4.8rem;
}

header .btn-mobile{
    display: none;
}

header .open-menu-icon, .close-menu-icon{
    width: 4rem;
}

header .open-menu-icon path, .close-menu-icon path{
    fill: var(--collor-thre);
}

.container-header{
    width: 95%;
    margin: 3.2rem;
    background-color: transparent;
    position: absolute;
    z-index: 100;
}

.container.alt-flor{
    background-image: linear-gradient(to bottom, rgba(81, 17, 104, .9),rgba(255, 255, 255, .5)), url("../images/image-backgrouns-flores.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container.alt-suc{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)), url("../images/image-background-suculenta.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container.alt-palm{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8),rgba(72, 102, 18, 0.9)), url("../images/image-background-palmeiras1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container.alt-cac{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)), url("../images/image-background-cactaceos.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E3A34;
}

section{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .box.alt{
    flex-direction: row-reverse;
}

section .box.alt .description{
    color: var(--collor-light);
}


section .box{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 2rem;
    border: 1.5px solid  rgba(255, 255, 255, 0.233);
}


section .box h1{
    font-size: 6.4rem;
    font-family: coolvetica;
    letter-spacing: .5rem;
}

section .box p{
    font-size: 3.6rem;
    font-family: var(--font-paragraph);
}

section .box .description{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    color: var(--collor-thre);
}

section .box .card{
    background-color: rgba(255, 255, 255, 0.4);
    height: 36rem;
    width: 36rem;
    border-radius: 2rem;
    position: relative;

    display: flex;
    justify-content: center;
    overflow: hidden;
}


section .card .button{
    position: absolute;
    bottom: 3.2rem;
    background-color: rgba(255, 255, 255, 0.829);
    font-size: 4rem;
    font-family: Coolvetica;
    padding: .5rem 5rem;
    border-radius: 5rem;
    color: var(--collor-seven);
    border: 1px solid rgba(72, 102, 18, 0.4);
}


footer{
    background-color: var(--collor-four);
    padding: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

footer .icon{
    height: 4rem;
}

footer .icon path{
    fill: var(--collor-thre);
}

.hide{
    display: none;
}

@keyframes menu-mobile {
    0% {
        background-color: #9F8257;
        right: 50%;
        opacity: 0;
    }

    50% {
        background-color: #7a6444;
        opacity: 0.7;
    }

    100% {
        background-color: #4E3A34;
        opacity: 1;
    }
}


@media (max-width: 1000px)
{

    header .btn-mobile {
        display: flex;
    }

    header .nav {
        display: none;
    }

    header .active {
        display: flex;
        align-items: end;
        flex-direction: column;
        position: fixed;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 100;
        background-color: var(--collor-thre);
        letter-spacing: 0.6rem;
        border-radius: .5rem;
        height: 100vh;
        padding: 4.8rem;

        animation-name: menu-mobile;
        animation-duration: 2s;
    }

    header .active .btn-mobile {
        margin-bottom: 10rem;
    }

    header .active svg path {
        fill: var(--collor-four);
    }

    header .active .nav,
    .active a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;

        color: var(--collor-four);
    }

    header .active a:hover {
        cursor: pointer;

        color: var(--collor-light);

        transition: transform .5s;
    }

    section{
        padding: 0;
    }

    div.box, div.box.alt {
        flex-direction: column;
        gap: 2.2rem;
        padding: 4.8rem;
        text-align: center;
    }

}






