* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%; 
}

body{
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center; 
    font-size: 10px;
    position: relative;
}

.wrapper{
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
}

.container{
    height: 100%;
    width: 100%;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.8rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--collor-four);
    max-width: 100%;
    height: 7.2rem;
    padding: 1rem 3.2rem;   
    border-radius: 5rem;
}
 
header img{
    width: 12rem;
}

header a{
    color: var(--collor-thre);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: coolvetica;
    font-weight: bolder;
    transition: transform 0.2s ease-in-out;
    scroll-behavior: smooth;
}

header a:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: #486612;
}

header .nav{
    display: flex;
    gap: 4.8rem;
}

header .btn-mobile{
    display: none;
}

header .open-menu-icon, .close-menu-icon{
    width: 4rem;
}

header .open-menu-icon path, .close-menu-icon path{
    fill: var(--collor-thre);
}

section.list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 90vh;
}

section.list .box-list{
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.2rem;
}

.button-page{
    background-color: var(--collor-two);
    border-radius: 5rem;
    padding: 1.5rem 4.2rem;
}

.button-page path{
    fill: var(--collor-thre);
}


section.list img{
    width: 30rem;
}

section.list .box{
    width: 50%;
    display: flex;
    justify-content: center;
}

section.list .description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--collor-light), #ebfbce);
    gap: 3.2rem;

    padding: 3.2rem ;
    border-radius: 1.2rem;

    height: 100%;
    border: 2px solid var(--collor-four);
}

section.list .description span img{
    width: 3.6rem;
}

section.list .description h1{
    font-size: 3.6rem;
    font-family: coolvetica;
    color: #486612;
}

section.list ul li{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.4rem;
    font-family: coolvetica;
    color: var(--collor-six);
}

section.table .container-table{
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
    /* overflow-x: auto; */
}

section .container-table::-webkit-scrollbar{
    background-color: var(--collor-four);
    border-radius: 5rem;
    width: 1.2rem;
}
section .container-table::-webkit-scrollbar-thumb{
    background-color: var(--collor-seven);
    border-radius: 5rem;
    width: 1.2rem;
    box-shadow: #9F8257;
}

section.table{
    width: 100%;
    border: 2px solid var(--collor-four);
    background-color: var(--collor-four);
    border-radius: 1.2rem;
    margin-bottom: 9.6rem;
}

section.table table{
    border-collapse: collapse;
    background-color: var(--collor-four);
    width: 100%;
    font-size: 1.6rem;
    font-family: coolvetica;
    overflow: hidden;
    border-radius: 1.2rem;
}

section.table table thead tr th{
    background-color: #a5bb41;
    padding: 2rem 1.5rem;
    color: var(--collor-seven);
    font-size: 2.4rem;
    border-left: 2px solid var(--collor-four) ;
    letter-spacing: .2rem;
}

section.table table tbody tr td{
    color: var(--collor-thre);
    padding: 1rem 1.5rem;
    text-align: left;
    font-size: 2.4rem;
    margin: 0;
}

section.table table tbody tr{
    background-color: #d9e492;
    border-bottom: 2px solid var(--collor-five);
}

section.table table tbody tr:nth-child(even){
    background-color: #d9e492;
}

section.table table thead{
    font-size: 2rem;
    background-color: var(--collor-seven);
}

section.table table a {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #E4F09A;
    overflow: hidden;
    border: 3px solid var(--collor-six);
}

section.table .image-plant{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


footer{
    display: flex;
    align-items: center;
    justify-content: left;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--collor-four);

    width: 100%;
    padding: 1.4rem;
}

footer .icon{
    height: 4rem;
}

footer .icon path{
    fill: var(--collor-thre);
}

@media (max-width: 1000px)
{

    main{
        width: 100%;
        flex-direction: column;
        gap: 48px;
        padding: 0;
        text-align: center;
    }

    main p{
        font-size: 2.2rem;
        line-height: normal;
    }

    main div.content{
        width: 100%;
    }


    main .logo-grande{
        width: 80%;
        margin-bottom: 3rem;
    }

    section{
        padding: 0;
    }

    header .btn-mobile{
        display: flex;
    }

    header .nav{
        display: none;
    }

    /* header .active{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    } */

    header .active{
        display: flex;
        align-items: end;
        flex-direction: column;
        position: fixed;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 100;
        background-color: var(--collor-two);
        letter-spacing: 0.6rem;
        border-radius: .5rem;
        height: 100vh;
        padding: 4.8rem;
    }

    header .active .btn-mobile{
        margin-bottom: 10rem;
    }



    header .active svg path{
        fill: var(--collor-four);
    }

    header .active .nav, .active a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--collor-four);
    }

    header .active a:hover{
        cursor: pointer;
        color: #BACC21;
        transition: transform .5s;
    }

}






