* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%; 
}

body{
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center; 
    font-size: 10px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, var(--collor-four), var(--collor-one));
}

.wrapper{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.wrapper > img{
    width: 70rem;
    position: fixed;
    bottom: 0;
    right: -8rem;
    z-index: 1002;
    
}

.container{
    height: 100%;
    width: 100%;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--collor-four);
    max-width: 100%;
    height: 7.2rem;
    padding: 1rem 3.2rem;   
    border-radius: 5rem;
}
 
header img{
    width: 12rem;
}

header a{
    color: var(--collor-thre);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: coolvetica;
    font-weight: bolder;
    transition: transform 0.2s ease-in-out;
}

header a:hover{
    transform: scale(1.1);
    font-weight: bold;
    color: #486612;
}

header .nav{
    display: flex;
    gap: 4.8rem;
}

header .btn-mobile{
    display: none;
}

header .open-menu-icon, .close-menu-icon{
    width: 4rem;
}

header .open-menu-icon path, .close-menu-icon path{
    fill: var(--collor-thre);
}

main{
    height: 100vh;
    width: 100%;
    align-items: top;
    justify-content: center;
    text-align: left;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem 0;
}

main h1{
    font-family: coolvetica;
    font-size: 6.4rem;
    color: var(--collor-thre);
    text-align: left;
    letter-spacing: 0.7rem;
    line-height: 5rem;
    margin-bottom: 2.4rem;
}

main span{
    font-size: 4.8rem;
    color: #9F8257;
}

main p{
    font-family: coolvetica;
    font-size: 3.2rem;
    text-align: left;
    color: var(--collor-six);
    line-height: 3rem;
}

main .content{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.image-audio{
    background-color: #9F8257;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 15rem;
    z-index: 1001;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column ;
    padding: 0 20rem;
}


.image-audio p{
    color: var(--collor-seven);
    margin-bottom: 2.4rem;
}

.image-audio audio{
    width: 30rem;
    border: .5rem solid #6a5c58;
    border-radius: 5rem;
    color: #9F8257;
}


audio {
    background: var(--collor-six);
    color: #ffffff;
  }
  
  audio::-webkit-media-controls-start-playback-button {
    color: #ffffff;
    background:var(--collor-six);
  }
  
  audio::-webkit-media-controls-panel {
    background:var(--collor-one);
    color: #ffffff;
  }

  

@media (max-width: 1000px)
{

    main{
        width: 100%;
        flex-direction: column;
        gap: 48px;
        padding: 0;
        text-align: center;
    }

    main p{
        font-size: 2.2rem;
        line-height: normal;
    }

    main div.content{
        width: 100%;
    }


    main .logo-grande{
        width: 80%;
        margin-bottom: 3rem;
    }

    section{
        padding: 0;
    }

    header .btn-mobile{
        display: flex;
    }

    header .nav{
        display: none;
    }

    /* header .active{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    } */

    header .active{
        display: flex;
        align-items: end;
        flex-direction: column;
        position: fixed;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 100;
        background-color: var(--collor-two);
        letter-spacing: 0.6rem;
        border-radius: .5rem;
        height: 100vh;
        padding: 4.8rem;
    }

    header .active .btn-mobile{
        margin-bottom: 10rem;
    }



    header .active svg path{
        fill: var(--collor-four);
    }

    header .active .nav, .active a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--collor-four);
    }

    header .active a:hover{
        cursor: pointer;
        color: #BACC21;
        transition: transform .5s;
    }

}






