* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

:root {
    --collor-light: #ffffff;
    --collor-one: #D6D4C3;
    --collor-two: #9F8257;
    --collor-thre: #4E3A34;
    --collor-four: #E4F09A;
    --collor-five: #BACC21;
    --collor-six: #849C1B;
    --collor-seven: #486612;

    --font-tittle: 'Anton', sans-serif;
    --font-paragraph: 'Inter', sans-serif;
    --font-cursive: 'Indie Flower', cursive;

    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(to bottom, var(--collor-light), var(--collor-four));

    font-size: 10px;

    width: 100%;

    /* position: relative; */
}

.wrapper {
    padding: 2.2rem 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.header {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--collor-four);

    margin: 0 4.8rem;
    max-width: 100%;
    height: 6.2rem;
    padding: 1rem 3.2rem;

    border-radius: 5rem;
}

header img {
    width: 12rem;
}

header a {
    font-family: coolvetica;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;

    padding: 1.4rem 0.8rem;

    transition: transform 0.2s ease-in;

    color: var(--collor-thre);
}

header a:hover {
    transform: scale(1.1);
    font-weight: bold;

    color: #E4F09A;
    background-color: #9F8257;

    border-radius: 0.7rem;
}

header .nav {
    display: flex;
    gap: 3.2rem;
    height: 100%;
}

header .btn-mobile {
    display: none;
}

header .open-menu-icon,
.close-menu-icon {
    width: 4rem;
}

header .open-menu-icon path,
.close-menu-icon path {
    fill: var(--collor-thre);
}

main,
main .box-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    height: 80vh;
    gap: 3.2rem;
    /* z-index: 1; */
}

main .box-description {
    gap: 3.8rem;
}

main .box-description img {
    width: 50rem;
}

main .box-description p {
    font-size: 3.2rem;
    font-family: coolvetica;
    color: var(--collor-seven);
}

main .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    padding: 1rem 2.5rem;
    border-radius: 7rem;
    border: 3px solid #BACC21;

    background-color: rgba(216, 224, 147, 0.615);

    animation: button-animation 1s infinite;
}

main .button p {
    font-size: 2.4rem;
    font-family: coolvetica;
    text-decoration: none;

    color: var(--collor-thre);
}

main .button .arrow {
    width: 2.4rem;
}

main .arrow path {
    fill: var(--collor-seven);
}

.hide {
    display: none;
}

section {
    z-index: -1000;
}

section .box-flor {
    width: 100%;
    height: 40rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--collor-six);

    border-radius: 2.4rem;
    position: relative;
    object-fit: cover;
}

section .box-flor:hover{
    transition: transform 0.2s ease-in-out;
}

section .box-flor img {
    height: 150%;
}

section .box-text {
    position: absolute;
    /* z-index: 1000; */
    background-color: #4e3a348b;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12%;

    font-size: 2.4rem;
    font-family: coolvetica;
    letter-spacing: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--collor-light);

    border-top: 2px solid #E4F09A;

}


section#box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10rem;
    gap: 4rem;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: var(--collor-four);

    width: 100%;
    padding: 1.4rem;
}

footer .icon {
    height: 4rem;
}

footer .icon path {
    fill: var(--collor-thre);
}


@keyframes menu-mobile {
    0% {
        background-color: #9F8257;
        right: 50%;
        opacity: 0;
    }

    50% {
        background-color: #7a6444;
        opacity: 0.7;
    }

    100% {
        background-color: #4E3A34;
        opacity: 1;
    }
}

@keyframes button-animation {
    0% {
        transform: translate(0, 0);
        /* posição inicial do botão */
    }

    50% {
        transform: translate(0, -10px);
        /* posição intermediária do botão (subindo) */
    }

    100% {
        transform: translate(0, 0);
        /* posição final do botão (descendo) */
    }
}












@media (max-width: 1000px) {
    header .btn-mobile {
        display: flex;
    }

    header .nav {
        display: none;
    }

    header .menu.active {
        display: flex;
        align-items: end;
        flex-direction: column;
        position: fixed;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 1001;
        background-color: var(--collor-thre);
        letter-spacing: 0.6rem;
        border-radius: .5rem;
        height: 100vh;
        padding: 4.8rem;

        animation-name: menu-mobile;
        animation-duration: 2s;
    }

    header .active .btn-mobile {
        margin-bottom: 10rem;
    }

    header .active svg path {
        fill: var(--collor-four);
    }

    header .active .nav,
    .active a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;

        color: var(--collor-four);
    }

    header .active a:hover {
        cursor: pointer;

        color: var(--collor-light);

        transition: transform .5s;
    }

    main {
        flex-direction: column;
        justify-content: space-evenly;

        gap: 48px;
        height: 80vh;
        text-align: center;
    }

    main .box-description{
        width: 80%;
        /* gap: 2rem; */
        justify-content: space-evenly;
        gap: 4rem;
    }

    main .box-description p{
        font-size: 4.2rem;
    }

    main .box-description img{
        width: 100%;
    }

    main .button{
        padding: 2rem 6rem;
    }

    main .button p{
        font-size: 4.6rem;
    }

    main .button .arrow{
        width: 4.8rem;
    }

    section#box-grid {
        padding: 0 rem;
        grid-template-columns: 1fr;
    }

    section .box-flor {
        grid-template-columns: 1fr;
    }

   
}